#waveform{
    z-index: 0;
}

.checkmarkImage{
    position: relative;
    left: -5px;
    top: 10px;
}
.checkmarkSong{
    position: relative;
    left: -5px;
    top: 10px;
}
.fileIcons{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.fileIcons:hover{
    cursor: pointer;
}
.createSong{
    background-color: rgb(8, 7, 7);
}
.editSong{
    background-color: rgb(8, 7, 7);
    border-radius: 3px;
}

.createSongDiv{
    width: inherit;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editSongDiv{
    width: 500px;
    height: 500px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 22;
}

.songForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.input{
    width: 300px;
    height: 40px;
}

.file{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:inherit;
}

#fileInput{
    display: none;
}

.labelFileInput:hover{
    background-color: white;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: rgb(113, 62, 172);

}

.labelFileInput{
    background-color: rgb(113, 62, 172);

    font-family: inherit;

    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.fileName{
    color: white;
}

.fa-solid.fa-up-from-line.fa-3x{
    color:white;
}

.songButton{
    background-color: rgb(113, 62, 172);
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
    width: 150px;
    height: 40px;
}

.songButton:hover{
    color:rgb(113, 62, 172);
    background-color: white;
}
.errorsList{
    list-style-type: none;
}

.errorsSection{
    background-color: rgb(241, 129, 129);
    width: 300px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formTitle{
    color: white;
}

.formHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headphones{
    color: white;
    size: 200px;
}

.songPageDiv{
    background-color: rgb(8, 7, 7);

}

.songDetailsDiv{
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

}

.specificSongImage{
    width:360px;
    height: 360px;
}

.theSongTitle{
    color: white;
    font-size: xxx-large;
}

.theSongUsername{
    color: white;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    padding-bottom: 25px;
}
.rightSide{
    display: flex;
    flex-direction: column
}

.iconLiving{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.iconLiving2{
    display: flex;
    flex-direction: row-reverse;
    gap:5px;

}

.trashCan{
    margin-left: 10px;
}

.warning{
    color: white;
}

/* #editModal {
    position: absolute;
    background-color:white;
    width: 300px;
    height: fit-content;
    min-height: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.deleteForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    background-color: rgb(8, 7, 7);
    height: 400px;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
}

.confirmationDelete{
    text-align: center;
    color: white;
    padding: 10px
}

.deleteFormButtons{
    display: flex;
    gap:10px;
}

.deleteCancelButton{
    background-color: rgb(113, 62, 172);
    border: none;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: white;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: larger;


}

.deleteCancelButton:hover{
    background-color: white;
    border: none;
    font-family: inherit;

    border-radius: 3px;
    color: rgb(113, 62, 172);
}

.deleteFormSoundCloud{
    color: rgb(113, 62, 172);
}

.commentSection{
    background-color: white;
    height: fit-content;
    min-height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.commentInput{
    width: 800px;
    height: 20px;
    border: 7px solid rgb(226, 223, 223);
    outline: none;
}
.commentLeft{
    display: flex;
    gap: 5px;
}

.commentAuthor{
    color: rgb(138, 136, 136);
    font-size: small;
}
/* .commentBody{
    margin-left: 10px;
} */
.commentButton{
    /* border: none;
    background-color: rgb(113, 62, 172);
    color: white;
    height: 36px;
    padding: 5px; */
    display: none;
}

.formSongImage{
    height: 36px;
    width: 36px;
}

.commentForm{
    display: flex;
    align-items: center;
    padding: 15px;
}

.allComments{
    padding: 0 15px 15px 15px;
    height: 335px;
    overflow: hidden;
    overflow-y: auto;
}

.allComments::-webkit-scrollbar{
    display: none;
}

.comment{
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.comment:hover{
    background-color: rgb(226, 223, 223);

}

.playSide{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

    height: inherit;
}

.play{
    color: rgb(113, 62, 172);
}

.h1Song{
    margin:0;

}

.hidden{
    display: none;
}

/* .songNameUser{
    margin-left:30px;
} */
audio{
    /* background-color: rgb(113, 62, 172); */
    width: 500px;
    margin-bottom: 40px;
    /* margin-left: 30px; */
}
audio::-webkit-media-controls-panel{
    background-color: rgb(113, 62, 172);
    border: none;
}

.profileNearTitle{
    color: rgb(113, 62, 172);
}

.LowerSection{
    background-color: white;
    display: flex;
}

.h2sideRight{
    margin: 15px;
}
/* audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */
