.createSong{
    background-color: rgb(8, 7, 7);
}
.editSong{
    background-color: rgb(8, 7, 7);
    border-radius: 3px;
}

.createSongDiv{
    width: inherit;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editSongDiv{
    width: 500px;
    height: 500px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.songForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.input{
    width: 300px;
    height: 40px;
}

.file{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:inherit;
}

#fileInput{
    display: none;
}

.labelFileInput:hover{
    background-color: white;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: rgb(113, 62, 172);

}

.labelFileInput{
    background-color: rgb(113, 62, 172);

    font-family: inherit;

    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.fileName{
    color: white;
}

.fa-solid.fa-up-from-line.fa-3x{
    color:white;
}

.songButton{
    background-color: rgb(113, 62, 172);
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
    width: 150px;
    height: 40px;
}

.songButton:hover{
    color:rgb(113, 62, 172);
    background-color: white;
}
.errorsList{
    list-style-type: none;
}

.errorsSection{
    background-color: rgb(241, 129, 129);
    width: 300px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formTitle{
    color: white;
}

.formHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headphones{
    color: white;
    size: 200px;
}

.songPageDiv{
    background-color: rgb(8, 7, 7);

}

.songDetailsDiv{
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

}

.specificSongImage{
    width:360px;
    height: 360px;
}

.theSongTitle{
    color: white;
}

.theSongUsername{
    color: white;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightSide{
    display: flex;
    flex-direction: column
}

.iconLiving{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.trashCan{
    margin-left: 12px;
}

.warning{
    color: white;
}

/* #editModal {
    position: absolute;
    background-color:white;
    width: 300px;
    height: fit-content;
    min-height: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.deleteForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    background-color: rgb(8, 7, 7);
    height: 400px;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
}

.confirmationDelete{
    text-align: center;
    color: white;
    padding: 10px
}

.deleteFormButtons{
    display: flex;
    gap:10px;
}

.deleteCancelButton{
    background-color: rgb(113, 62, 172);
    border: none;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: white;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: larger;


}

.deleteCancelButton:hover{
    background-color: white;
    border: none;
    font-family: inherit;

    border-radius: 3px;
    color: rgb(113, 62, 172);
}

.deleteFormSoundCloud{
    color: rgb(113, 62, 172);
}

.commentSection{
    background-color: white;
    height: fit-content;
    min-height: 400px;
}
.commentInput{
    width: 500px;
    height: 20px;
    border: 7px solid rgb(226, 223, 223);
    outline: none;
}

.commentButton{
    /* border: none;
    background-color: rgb(113, 62, 172);
    color: white;
    height: 36px;
    padding: 5px; */
    display: none;
}

.formSongImage{
    height: 36px;
    width: 36px;
}

.commentForm{
    display: flex;
    align-items: center;
    padding: 15px;
}

.allComments{
    padding: 0 15px 15px 15px;
}
.comment{
    padding-bottom: 10px;
    display: flex;
    align-items: center;

}

.comment:hover{
    background-color: rgb(226, 223, 223);

}
