#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color:white;
    width: 300px;
    height: fit-content;
    min-height: 350px;
    padding:10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas.fa-times.fa-2x{
    color: white;
    margin-right: 15px;
    margin-top: 15px;
}

.xButton{
    display: flex;
    flex-direction: row-reverse;
}
