
.top_container{
    border-top: 10px solid rgb(113, 62, 172);
}

.navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    font-family: inherit;
    color: rgb(113, 62, 172);
}

.link:hover{
    color: white;
}

.profileButton{
    background-color: transparent;
    border: none;
}

.profile-dropdown{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.fab.fa-soundcloud.fa-2x{
    color: white;
}
.fas.fa-user-circle.fa-2x{
    color: white;
}

.right-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.signup-button{
    background-color: white;
    border: none;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: rgb(113, 62, 172);
    padding: 5px;
    width: 60px;
    height: 27px;
}

.signup-button:hover{
    background-color: rgb(113, 62, 172);
    border: none;
    font-family: inherit;

    border-radius: 3px;
    color: white;
}

.loggedInSection{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}


.logoutButton{
    background-color: white;
    border: none;
    font-family: inherit;

    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: rgb(113, 62, 172);
    padding: 5px;


}

.logoutButton:hover{
    background-color: rgb(113, 62, 172);
    border: none;
    font-family: inherit;

    border-radius: 3px;
    color: white;
}

.profileList{
    margin-top: 5px;
    text-align: end;
}
