html{
    max-width: 1000px;
    margin: auto;
}

body{
    margin: 0;
}

.top_container{
    border-top: 10px solid rgb(113, 62, 172);
}

.navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    font-family: inherit;
    color: rgb(113, 62, 172);
}

.link:hover{
    color: white;
}

.profileButton{
    background-color: transparent;
    border: 1px;
}

.profile-dropdown{
    list-style-type: none;
}

.fab.fa-soundcloud.fa-2x{
    color: white;
}
.fas.fa-user-circle.fa-2x{
    color: white;
}

.right-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.signup-button{
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 15px;
    /* border: 1px solid rgb(113, 62, 172); */
    border-radius: 3px;
    color: rgb(113, 62, 172);
    padding: 5px;
    width: 60px;
}

.signup-button:hover{
    background-color: rgb(113, 62, 172);
    border: none;
    font-family: inherit;
    font-size: 15px;
    border-radius: 3px;
    color: white;
}
